body {
    font-family: Helvetica;
}

#banner {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url('pattern.jpeg');
}

.content-title {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

span {
    display: inline-block;
    width: 100%;
}

.brushes {
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}

strong {
    color: blue;
}